/.vs
/.idea
/.vscode
/env
/build
/out
/html
/pybind11
/emscripten
/CMakeSettings.json
/compile_commands.json
/.mypy_cache
/.cache
/git-worktree
/dist
.DS_Store
__pycache__
ltximg
auto
.ipynb_checkpoints
data.*
run.*
*.dll
*.lib
*.so
*.a
*.tex
*.pdf
*.egg-info
*.html
*.pyc
*.~undo-tree~