/*
!/.github
!/PyTAT
!/PyScalapack
!/examples
!/include
!/lazy_graph
!/python
!/test
!/tetragono
!/tetraku
!/tetraux
!/tnsp_bridge
!/vcpkg
!/.clang-format
!/.gitignore
!/.style.yapf
!/CHANGELOG.org
!/CMakeLists.txt
!/Doxyfile
!/LICENSE.rst
!/README.org
!/TAT-config.cmake.in
!/TAT.pc.in
!/Tensor.org

/PyTAT/.*.cpp
build
dist
.DS_Store
__pycache__
ltximg
auto
.ipynb_checkpoints
.mypy_cache
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.md
*.tex
*.pdf
*.html
*.egg-info
*.pyc
*.~undo-tree~
*.data
*.dat
*.run
*.log
