/.vs
/.idea
/.vscode
/env
/build
/out
/html
/pybind11
/emscripten
/include/fire.hpp
/CMakeSettings.json
/compile_commands.json
/init.C
/.mypy_cache
/.cache
/git-worktree
/*.html
__pycache__
ltximg
auto
.ipynb_checkpoints
data.*
*.dll
*.lib
*.so
*.a
*.tex
*.pdf