[submodule "hptt"]
	path = hptt
	url = https://github.com/hzhangxyz/hptt.git
[submodule "cutt"]
	path = cutt
	url = https://github.com/hzhangxyz/cutt.git
[submodule "args"]
	path = args
	url = https://github.com/hzhangxyz/args.git
[submodule "rang"]
	path = rang
	url = https://github.com/hzhangxyz/rang.git
