[submodule "hptt"]
	path = hptt
	url = git@github.com:hzhangxyz/hptt.git
[submodule "cutt"]
	path = cutt
	url = https://github.com/ap-hynninen/cutt.git
[submodule "args"]
	path = args
	url = git@github.com:hzhangxyz/args.git